body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    background-color: #ECF0F1; 
}

header {
    height: 10%;
}
h1{
  color: #001f3f;
  margin: 0;
}
nav {
    background-color: #85C1E9 !;  
    color: #2C3E50; 
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding-left: 2rem;
}

.navbar {
    background-color: transparent;
    padding-left: 2rem;
    color: #2C3E50; 
    font-size: 1.5em;

}

p {
    color: #34495E !important; 
}

.perfil {
    position: relative;
    text-align: center;
}

.perfil-fondo {
    position: relative;
    overflow: hidden;
    height: 10em;
    background-color: #85C1E9;
}

.foto-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.foto {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.frase {
    text-align: center;
    color: #2C3E50; 
}

.carrusel {
    margin-bottom: 1em;
}

.img-fluid {
    max-height: 20em;
    border-radius: 1em;  
}


#contacto i {
    cursor: pointer;
    color: #001f3f !important;  /* Iconos de contacto en navy */
}

.boton-copiar {
    border: 1px solid #001f3f;
    margin-bottom: 1em;
    color: #001f3f;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.boton-copiar:hover {
    background-color: #001f3f !important;
    color: #FFFFFF !important; 
}